## 평균 & 그룹화

In [24]:
import pandas as pd

data = pd.read_excel('부산쓰레기발생2017년.xlsx')

In [25]:
data.index

RangeIndex(start=0, stop=8, step=1)

In [26]:
data.columns

Index(['항목', '구분 ', '중구 ', '서구 ', '동구 ', '영도구 ', '부산진구 ', '동래구 ', '남구 ', '북구 ',
       '해운대구', '사하구 ', '금정구 ', '강서구 ', '연제구 ', '수영구 ', '사상구 ', '기장군 '],
      dtype='object')

In [27]:
c = data.columns
c = list(c)
# = list(data.colums)
c
c = [item.strip() for item in c]

In [28]:
c = [i.strip() for i in c]
c

['항목',
 '구분',
 '중구',
 '서구',
 '동구',
 '영도구',
 '부산진구',
 '동래구',
 '남구',
 '북구',
 '해운대구',
 '사하구',
 '금정구',
 '강서구',
 '연제구',
 '수영구',
 '사상구',
 '기장군']

In [29]:
data.columns = c
data.columns

Index(['항목', '구분', '중구', '서구', '동구', '영도구', '부산진구', '동래구', '남구', '북구', '해운대구',
       '사하구', '금정구', '강서구', '연제구', '수영구', '사상구', '기장군'],
      dtype='object')

In [30]:
data.sort_values(by='구분', ascending=False)

,항목,구분,중구,서구,동구,영도구,부산진구,동래구,남구,북구,해운대구,사하구,금정구,강서구,연제구,수영구,사상구,기장군
1,매립처리량,일일(톤),8,7,5,3,48,25,22,29,14,8,20,27,5,6,27,6
3,소각처리량,일일(톤),38,29,23,24,2,0,0,0,87,89,1,13,40,33,0,37
5,재활용처리량,일일(톤),25,58,49,68,242,155,159,175,177,194,154,71,102,77,156,42
7,음식물류발생량,일일(톤),14,24,18,26,74,55,43,66,110,58,58,30,39,36,66,46
0,매립처리량,연간(톤),3034,2323,1653,1219,17393,9195,8042,10498,5251,3089,7240,9742,1831,2205,9937,2290
2,소각처리량,연간(톤),13729,10446,8297,8651,538,17,158,97,31924,32671,222,4788,14521,11987,216,13687
4,재활용처리량,연간(톤),9082,21301,17968,24616,88453,56526,57921,63879,64667,70923,56153,25977,37115,28135,57110,15170
6,음식물류발생량,연간(톤),5154,8779,6399,9522,27119,20128,15548,24201,40043,21183,21273,10810,14122,13289,24161,16648

In [31]:
df1 = data[data['구분']=='연간(톤)']
df1

,항목,구분,중구,서구,동구,영도구,부산진구,동래구,남구,북구,해운대구,사하구,금정구,강서구,연제구,수영구,사상구,기장군
0,매립처리량,연간(톤),3034,2323,1653,1219,17393,9195,8042,10498,5251,3089,7240,9742,1831,2205,9937,2290
2,소각처리량,연간(톤),13729,10446,8297,8651,538,17,158,97,31924,32671,222,4788,14521,11987,216,13687
4,재활용처리량,연간(톤),9082,21301,17968,24616,88453,56526,57921,63879,64667,70923,56153,25977,37115,28135,57110,15170
6,음식물류발생량,연간(톤),5154,8779,6399,9522,27119,20128,15548,24201,40043,21183,21273,10810,14122,13289,24161,16648

In [32]:
df1 = df1.sort_values('항목')
del df1['구분']
df1

,항목,중구,서구,동구,영도구,부산진구,동래구,남구,북구,해운대구,사하구,금정구,강서구,연제구,수영구,사상구,기장군
0,매립처리량,3034,2323,1653,1219,17393,9195,8042,10498,5251,3089,7240,9742,1831,2205,9937,2290
2,소각처리량,13729,10446,8297,8651,538,17,158,97,31924,32671,222,4788,14521,11987,216,13687
6,음식물류발생량,5154,8779,6399,9522,27119,20128,15548,24201,40043,21183,21273,10810,14122,13289,24161,16648
4,재활용처리량,9082,21301,17968,24616,88453,56526,57921,63879,64667,70923,56153,25977,37115,28135,57110,15170

In [33]:
df1 = df1.set_index('항목')

In [34]:
df1 = df1.T
df1

항목    매립처리량  소각처리량  음식물류발생량  재활용처리량
중구     3034  13729     5154    9082
서구     2323  10446     8779   21301
동구     1653   8297     6399   17968
영도구    1219   8651     9522   24616
부산진구  17393    538    27119   88453
동래구    9195     17    20128   56526
남구     8042    158    15548   57921
북구    10498     97    24201   63879
해운대구   5251  31924    40043   64667
사하구    3089  32671    21183   70923
금정구    7240    222    21273   56153
강서구    9742   4788    10810   25977
연제구    1831  14521    14122   37115
수영구    2205  11987    13289   28135
사상구    9937    216    24161   57110
기장군    2290  13687    16648   15170

In [35]:
df1.loc['평균']=df1.mean(axis=0)
df1

항목        매립처리량       소각처리량     음식물류발생량    재활용처리량
중구     3034.000  13729.0000   5154.0000   9082.00
서구     2323.000  10446.0000   8779.0000  21301.00
동구     1653.000   8297.0000   6399.0000  17968.00
영도구    1219.000   8651.0000   9522.0000  24616.00
부산진구  17393.000    538.0000  27119.0000  88453.00
동래구    9195.000     17.0000  20128.0000  56526.00
남구     8042.000    158.0000  15548.0000  57921.00
북구    10498.000     97.0000  24201.0000  63879.00
해운대구   5251.000  31924.0000  40043.0000  64667.00
사하구    3089.000  32671.0000  21183.0000  70923.00
금정구    7240.000    222.0000  21273.0000  56153.00
강서구    9742.000   4788.0000  10810.0000  25977.00
연제구    1831.000  14521.0000  14122.0000  37115.00
수영구    2205.000  11987.0000  13289.0000  28135.00
사상구    9937.000    216.0000  24161.0000  57110.00
기장군    2290.000  13687.0000  16648.0000  15170.00
평균     5933.875   9496.8125  17398.6875  43437.25

In [36]:
df1.loc[:,'열평균']=df1.mean(axis=1)
df1

항목        매립처리량       소각처리량     음식물류발생량    재활용처리량          열평균
중구     3034.000  13729.0000   5154.0000   9082.00   7749.75000
서구     2323.000  10446.0000   8779.0000  21301.00  10712.25000
동구     1653.000   8297.0000   6399.0000  17968.00   8579.25000
영도구    1219.000   8651.0000   9522.0000  24616.00  11002.00000
부산진구  17393.000    538.0000  27119.0000  88453.00  33375.75000
동래구    9195.000     17.0000  20128.0000  56526.00  21466.50000
남구     8042.000    158.0000  15548.0000  57921.00  20417.25000
북구    10498.000     97.0000  24201.0000  63879.00  24668.75000
해운대구   5251.000  31924.0000  40043.0000  64667.00  35471.25000
사하구    3089.000  32671.0000  21183.0000  70923.00  31966.50000
금정구    7240.000    222.0000  21273.0000  56153.00  21222.00000
강서구    9742.000   4788.0000  10810.0000  25977.00  12829.25000
연제구    1831.000  14521.0000  14122.0000  37115.00  16897.25000
수영구    2205.000  11987.0000  13289.0000  28135.00  13904.00000
사상구    9937.000    216.0000  24161.0000  57110.00  22856.00000
기장군    2290.000  13687.0000  16648.0000  15170.00  11948.75000
평균     5933.875   9496.8125  17398.6875  43437.25  19066.65625

In [37]:
dfg1 = data.groupby('구분')['남구'].mean()
dfg1

구분
연간(톤)    20417.25
일일(톤)       56.00
Name: 남구, dtype: float64

In [38]:
dfg = data.groupby(['구분']).mean()
dfg

,중구,서구,동구,영도구,부산진구,동래구,남구,북구,해운대구,사하구,금정구,강서구,연제구,수영구,사상구,기장군
구분,,,,,,,,,,,,,,,,
연간(톤),7749.75,10712.25,8579.25,11002.00,33375.75,21466.50,20417.25,24668.75,35471.25,31966.50,21222.00,12829.25,16897.25,13904.0,22856.00,11948.75
일일(톤),21.25,29.50,23.75,30.25,91.50,58.75,56.00,67.50,97.00,87.25,58.25,35.25,46.50,38.0,62.25,32.75

In [39]:
dfg2 = data.groupby(['항목']).mean()
dfg2

,중구,서구,동구,영도구,부산진구,동래구,남구,북구,해운대구,사하구,금정구,강서구,연제구,수영구,사상구,기장군
항목,,,,,,,,,,,,,,,,
매립처리량,1521.0,1165.0,829.0,611.0,8720.5,4610.0,4032.0,5263.5,2632.5,1548.5,3630.0,4884.5,918.0,1105.5,4982.0,1148.0
소각처리량,6883.5,5237.5,4160.0,4337.5,270.0,8.5,79.0,48.5,16005.5,16380.0,111.5,2400.5,7280.5,6010.0,108.0,6862.0
음식물류발생량,2584.0,4401.5,3208.5,4774.0,13596.5,10091.5,7795.5,12133.5,20076.5,10620.5,10665.5,5420.0,7080.5,6662.5,12113.5,8347.0
재활용처리량,4553.5,10679.5,9008.5,12342.0,44347.5,28340.5,29040.0,32027.0,32422.0,35558.5,28153.5,13024.0,18608.5,14106.0,28633.0,7606.0